img{
    width: 100%;
  }
  .animation-container{
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: auto;
    margin:auto;
  }
  .animation-container > div{
    position: absolute;
    top:0;
    left:0;
  }
  div.layer1 {
    z-index: 1;
  }

  div.layer2 {
    z-index: 2;
    animation-name: layer2;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }
  div.layer3 {
    z-index: 3;
    animation-name: layer3;
    animation-duration: 4s;
    animation-iteration-count: 1;
  }
  div.layer4 {
    z-index: 4;
    animation-name: layer4;
    animation-duration: 6s;
    animation-iteration-count: 1;
  }
  
  @keyframes layer2 {
      0% {
        left: -100%;
      }
      100% {
        left: 0;    
      }
    }
  @keyframes layer3 {
    0% {
      opacity: 0;
      right:-100%;
    }
    50% {
      opacity: 0;
      right: -100%;
    }
    75% {
      opacity: 0;
      right: -100%;
    }
    100% {
      opacity: 1;
      right: 0;
    }
  }
  @keyframes layer4 {
    0% {
      opacity: 0;
      left: -100%;
    }
    50% {
      opacity: 0;
      left: -100%;
    }
    75% {
      opacity: 0;
      left: -100%;
    }
    100% {
      opacity: 1;
      left: 0;    
    }
  }